.task__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.task__title:hover::before,
.task__checkbox:focus+.task__title::before {
  border-color: var(--green-400);
}

.task__checkbox:checked+.task__title::before {
  background-color: var(--green-400);
  border-color: var(--green-400);
}

.task__title {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  position: relative;
  cursor: pointer;
  margin-bottom: 0.3rem;
}

.task__title::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--black);
  transition: background-color 0.2s ease-in, border-color 0.2s ease-out;
  cursor: pointer;
}

.task__controls {
  display: flex;
  align-items: center;
}

.task__link {
  transition: color 0.2s ease;
  padding: 0 0.4rem;
}

.task__link:hover {
  color: var(--green-400);
}

.task__btn {
  border: none;
  background-color: transparent;
  margin: 0 0.3rem;
}

.task__btn svg {
  transition: fill 0.4s ease, stroke 0.4s ease;
}

.task__btn--edit:hover svg {
  stroke: var(--green-400);
}

.task__btn--remove:hover svg {
  fill: var(--red-500);
}