.grid-task {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.grid-task__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-task__info {
  margin-bottom: 1rem;
}

.grid-task .task__title {
  padding-left: 24px;
}

.grid-task .task__title::before {
  left: 0;
}

.grid-task__text.empty {
  -webkit-line-clamp: 1;
}

.grid-task__row {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.grid-task .task__link {
  padding: 0;
}