html {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  background-color: rgb(223, 225, 229);
  background-image: linear-gradient(90deg, rgba(223, 225, 229, 1) 55%, rgba(76, 154, 255, 1) 55%, rgba(76, 154, 255, 1) 85%, rgba(223, 225, 229, 1) 85%);
  margin: 0;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  line-height: 1.4;
}

:root {
  --white: #fff;
  --black: #1F2937;
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-300: #D1D5DB;
  --green-500: #34D399;
  --green-400: #6EE7B7;
  --pink-600: #DB2777;
  --red-500: #EF4444;
  --blue-400: rgba(76, 154, 255, 1);
  --blue-400-5: rgba(76, 154, 255, 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}